@font-face {
    font-family: "Gotham Rounded Book";
    src: url("font/GothamRoundedBook_21018.ttf")
}

@font-face {
    font-family: "Gotham Rounded Medium";
    src: url("font/GothamRoundedMedium_21022.ttf");
}


/*--------------------GENERAL-----------------------*/

* {
    font-family: "Gotham Rounded Medium", serif, "Times New Roman"
}

body {
    /*    width: 1600px;*/
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: #8c9398;
}


/*-------------------ALL-SECTION-HEADERS----------------------*/

section header {
    text-align: center;
}

section header h2 {
    margin: 0;
    font-size: 15px;
    color: #353535;
    letter-spacing: 3px;
    padding-top: 108px;
}

section .separate {
    margin-top: 25px
}

section .down-arow {
    margin: 0 34px 0 34px;
}

section .separate .dot {
    margin-bottom: 4px;
}


/*------------------------------CLEAR-FLOAT---------------*/

.group:after {
    content: "";
    display: table;
    clear: both;
}

/*-------------------------SOCIAL---------------------*/
.social {
    width: 165px;
    margin: 25px auto 0;
}

.blue-circle {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #3dc9b3;
    float: left;
    position: relative;
    margin: 0 5px;
    background-color: #242830;
}

.blue-circle:hover {
    background-color: #3dc9b3;
    cursor: pointer;
}

.blue-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
/*------------------------JUMBOTRON-----------------------*/

#jumbotron {
    /*    width: 1600px;*/
    height: 802px;
    background-image: url(image/header.png);
    /*    background-position: 0 0;*/
    background-repeat: no-repeat;
    text-align: center;
}

#jumbotron h1 {
    font-family: "Gotham Rounded Book", serif, "Times New Roman";
    font-size: 40px;
    color: #353535;
    font-weight: 100;
    letter-spacing: 19px;
    margin: 0 0 31px 0;
}

#jumbotron h1 .grey {
    color: #a1a9b0;
    font-size: 40px;
}

#jumbotron span {
    color: #8c9398;
    font-family: "Gotham Rounded Book", serif, "Times New Roman";
    font-size: 15px;
    letter-spacing: 4px;
}

#jumbotron span .em {
    font-style: italic;
    font-weight: 600
}

#jumbotron #btn-learn-more {
    background-color: #3dc9b3;
    border: none;
    border-bottom: 5px solid #309383;
    width: 201px;
    height: 65px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 65px;
    padding: 0;
}

#jumbotron div {
    padding-top: 253px;
}


/*-----------------------INTRO-----------------------*/

#intro-section {
    height: 488px;
    text-align: center;
    background-color: #f3f5f8;
    box-sizing: border-box;
}

#intro-section p {
    margin: 63px 0 0;
    font-size: 14px;
    color: #8c9398;
    line-height: 25px;
}

#intro-section p .black {
    color: #353535;
}


/*---------------------------SERVICES-GENERIC------------------*/

#services-generic-section {
    height: 730px;
    text-align: center;
}

#services-generic-section .service {
    width: 390px;
    float: left;
    margin: 85px 29px;
}

.service header h3 {
    font-size: 15px;
    color: #353535;
    letter-spacing: 1px;
    margin: 49px 0 0;
}

.service p {
    color: #8c9398;
    font-size: 14px;
    line-height: 1.5;
}

.service .sep {
    margin: 29px 0 10px;
}


/*-----------------------------SERVICES-IPHONE-----------------------*/

#services-iphone-section {
    height: 702px;
    background: url(image/service_iphone.png) -45px 0;
    position: relative;
}

#services-iphone-section header h2 {
    padding-top: 134px
}

#services-iphone-section .right {
    background-color: #ffffff;
    width: 580px;
    height: 702px;
    position: absolute;
    top: 0;
    right: 0;
}

#services-iphone-section .right p {
    text-align: justify;
    font-size: 14px;
    margin: 40px 59px 0 60px;
    color: #8c9398;
    line-height: 1.5;
}


/*-------------------------------NIPPLES------------------*/

.nipple-container {
    margin: 132px auto 0;
    height: 9px;
    width: 60px;
}

.nipple {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    border: 2px solid #c9cbca;
    float: left;
    margin-right: 7px;
}

.nipple:hover {
    background-color: #212024;
    cursor: pointer
}


/*---------------------------COUNTER----------------------*/

#counter-section {
    height: 301px;
    background: url(image/counter.png) -100px -370px;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
    letter-spacing: 9px;
}

#counter-section h2 {
    font-size: 40px;
    font-family: "Gotham Rounded Book", serif, "Times New Roman";
    font-weight: 100;
    margin: 0;
}

#counter-section h3 {
    font-family: "Gotham Rounded Book", serif, "Times New Roman";
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    line-height: 3.5;
}

#counter-section .em {
    font-style: italic;
}

#counter-section .blue-circle {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #3dc9b3;
    margin: 0 auto;
    position: relative;
    float: none;
}

#counter-section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


/*--------------------------PORTFOLIO--------------------------*/

#portfolio-section {
    height: 660px;
    padding-top: 103px;
    box-sizing: border-box;
}

.portfolio {
    width: 360px;
    float: left;
    margin: 0 15px;
    text-align: center;
}

.portfolio h3 {
    font-size: 15px;
    color: #353535;
    letter-spacing: 1px;
    margin: 49px 0 0;
}

.portfolio p {
    margin-top: 25px;
    line-height: 1.5;
}

#portfolio-container {
    width: 1170px;
    margin: 0 auto;
}

#portfolio-section .nipple-container {
    margin-top: 72px;
}


/*---------------------------IGNITE--------------------*/

#ignite-section {
    height: 200px;
    background-color: #242830;
    text-align: center;
    position: relative;
}

.ignite-box {
    width: 300px;
    height: 80px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.ignite-box h2 {
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 4px;
    line-height: 80px;
    margin: 0;
    font-weight: 100;
}


/*--------------------------TEAM----------------------*/

#team-section {
    height: 880px;
    /*    padding-top: 103px;*/
    box-sizing: border-box;
}

.team-member {
    width: 360px;
    float: left;
    margin: 60px 15px 0;
    text-align: center;
}

.team-member h3 {
    font-size: 15px;
    color: #353535;
    letter-spacing: 1px;
    margin: 49px 0 0;
    letter-spacing: 3px;
    font-weight: 100;
}

.team-member p {
    margin-top: 25px;
    line-height: 1.5;
}

#team-containber {
    width: 1170px;
    margin: 0 auto;
}

#team-section .nipple-container {
    margin-top: 88px;
}


/*-----------------------------SUBSCRIBE---------------------*/

#subscribe-section {
    height: 450px;
    background: url(image/subscribe.png) 0 -480px;
    text-align: center;
}

#subscribe-section header {
    padding-top: 120px;
    margin-bottom: 43px;
}

#subscribe-section header h2 {
    color: #ffffff;
    padding: 0;
    margin-top: 22px;
    font-weight: 100;
}

input[name=email] {
    width: 355px;
    height: 70px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 0;
    outline: none;
    color: #ffffff;
}

input[type=submit] {
    width: 100px;
    height: 72px;
    background-color: #3dc9b3;
    color: #ffffff;
    border: 1px solid #3dc9b3;
    padding: 0;
    font-size: 15px;
    letter-spacing: 3px;
}


/*-------------------------CONTACT---------------*/

#contact-section {
    height: 673px;
    background: url(image/footer.png)0 -100px;
}

#contact-group {
    width: 1176px;
    margin: 0 auto;
}

.contact-box {
    width: 362px;
    height: 154px;
    background-color: #ffffff;
    float: left;
    margin: 0 15px;
}
